.container{
    display: grid;
    grid-template-columns: 300px 300px 300px;
    /* place-items: center; */
    height: 450px;
    justify-content: center;
    
  
}
.button-container{
    background-color: rgba(94, 144, 226, 0.8);
    padding: 40px;
   border: 1px solid black;
   text-align: center;
   font-size: 30px;
   
    
}